# Ignore everything in figures directory except PNGs and TEX files
docs/figures/*
!docs/figures/*.png
!docs/figures/*.tex

local/

# Virtual environment and Python
.venv/
__pycache__/
.pytest_cache/
*.pyc
.mplconfig/